# Project configuration
TITLE=your-title-for-the-docs
API_V1_STR=/api/v1
FRONTEND_HOST=your-frontend-base-url
PROJECT_NAME=your-project-name

# Security configuration
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
RESET_TOKEN_EXPIRE_MINUTES=15
EMAIL_ACTIVATION_TOKEN_EXPIRE_DAYS=1

# Email backend configuration
SMTP_HOST=smtp.email.com
SMTP_PORT=587
SMTP_USER=username@example.com
SMTP_PASSWORD=your-smtp-app-password
EMAIL_FROM=username@example.com
EMAIL_FROM_NAME=your-app-name
SMTP_TLS=True
SMTP_SSL=False

# Database configuration
POSTGRES_SERVER=your-host
POSTGRES_PORT=5432
POSTGRES_USER=your-username
POSTGRES_PASSWORD=your-password
POSTGRES_DB=your-database-name

# Redis configuration
REDIS_URL=your-redis-url

# Frontend connection
CORS_ORIGINS=a-json-list-of-urls-of-your-frontend

# Twillo configuration
TWILIO_ACCOUNT_SID=your_sid_here
TWILIO_AUTH_TOKEN=your_token_here
TWILIO_PHONE_NUMBER=+1234567890

