# Project configuration
TITLE=
API_V1_STR=/api/v1
FRONTEND_HOST="http://localhost:3000"
PROJECT_NAME=Generic-E-commerce-Backend

# Security configuration
SECRET_KEY=68f84d77e459d10b25e4b746c36deb3837b99d308098097a3f2e3555ba5177a53eb4097bf03ee1300c98275915802bb1d8397637a5f5229af3ed789e0a089b06
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
RESET_TOKEN_EXPIRE_MINUTES=15
EMAIL_ACTIVATION_TOKEN_EXPIRE_DAYS=1

# Email backend configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tassokimam@gmail.com
SMTP_PASSWORD=ueilqtdznrujgryj # Google App Password
EMAIL_FROM=tassokimam@gmail.com
EMAIL_FROM_NAME=Generic-E-Comm-API
SMTP_TLS=True
SMTP_SSL=False

# Database configuration
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=e_commerce

# Redis configuration
REDIS_URL=redis://localhost:6379/0

# Frontend connection
CORS_ORIGINS=["http://localhost:3000", "http://localhost:5173", "http://127.0.0.1:3000", "http://127.0.0.1:5173"]

# Twillo configuration
TWILIO_ACCOUNT_SID=your_sid_here
TWILIO_AUTH_TOKEN=your_token_here
TWILIO_PHONE_NUMBER=+1234567890
